Checks: 'modernize-*,performance-*,bugprone-*,google-explicit-constructor,google-build-using-namespace,google-runtime-int,google-default-arguments,-modernize-use-trailing-return-type,-modernize-use-nodiscard,-bugprone-throwing-static-initialization,-bugprone-easily-swappable-parameters'
WarningsAsErrors: '*'
HeaderFilterRegex: '^(?!.*qprogressindicator).*$'
