Makefile
debian/qtpass*
debian/files
build-stamp
qtpass
QtPass.app
QtPass.dmg
qtpass.pro.user
qtpass.xcodeproj/project.xcworkspace/xcuserdata/*
qtpass.xcodeproj/xcuserdata/*
qtpass.xcworkspace/xcuserdata/*
.DS_Store
.qmake.stash
*.o
moc_*.cpp
qrc_*.cpp
ui_*.h
localization/*.qm
