Makefile
debian/qtpass*
debian/files
build-stamp
qtpass
QtPass.app
QtPass.dmg
qtpass.pro.user
qtpass.xcodeproj/project.xcworkspace/xcuserdata/*
qtpass.xcodeproj/xcuserdata/*
qtpass.xcworkspace/xcuserdata/*
.DS_Store
.qmake.stash
*.o
moc_*.cpp
qrc_*.cpp
ui_*.h
localization/*.qm
build/
.idea
.vscode
src/libqtpass.a
src/moc_predefs.h
tests/auto/*/moc_predefs.h
tests/auto/*/target_wrapper.sh
tests/auto/*/*.moc

tests/auto/util/tst_util
tests/auto/ui/tst_ui
tests/auto/model/tst_model
tests/auto/settings/tst_settings
tests/auto/executor/tst_executor
tests/auto/passwordconfig/tst_passwordconfig
tests/auto/simpletransaction/tst_simpletransaction
tests/auto/filecontent/tst_filecontent
tests/auto/gpgkeystate/tst_gpgkeystate
tests/auto/integration/tst_integration
tests/auto/exportpublickeydialog/tst_exportpublickeydialog
tests/auto/importkeydialog/tst_importkeydialog
**/*.gc*
*.bak
README.c*
README.faq
README.rtf
html/**
rtf/**
latex/**
xml/**
qmake_qmake_qm_files.qrc
src/.qm/
weblate
artwork/qtpass-icon.png
.aider*
compile_commands.json
.cache
linter-output.log
release-artifacts
node_modules
docs
opencode.json
.opencode/package-lock.json
.opencode/*.local.json
