language: cpp
sudo: false

os:
  - linux
  - osx

compiler:
  - gcc
  - clang

addons:
  apt:
    packages:
    - qt5-default

install:
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then brew update; fi
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then brew ls | grep -wq qt5 || brew install qt5; fi
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then export PATH=$PATH:/usr/local/opt/qt5/bin; fi

script:
  - qmake -v
  - qmake -Wall qtpass.pro
  - make -j$(nproc)

notifications:
  
  irc: 
    channels:
      - "chat.freenode.net#IJhack"
    on_success: change
    on_failure: always

