language: cpp
dist: trusty
sudo: true
os:
- linux
compiler:
- gcc
env:
  global:
    secure: WaZq3f6KIAc0dnR4WOXYWDvUYiqlrzsZC/PQse47FnvC0oQC65J5w3kJOj/P26DgsUEqKQF3ukXogkM2mp5pS4+CMgivEmQmAbgQTtwcKpC5HPZxgI+8FgkCjcalJKWGWYoxlScNVNiKMs+89ApcSQE9kH9PZeUS9dukN2Php1U=
before_install:
- sudo add-apt-repository -y ppa:beineri/opt-qt-5.10.1-trusty
addons:
  coverity_scan:
    project:
      name: IJHack/qtpass
      description: Build submitted via Travis CI
    notification_email: travis@qtpass.org
    build_command_prepend: qmake; make clean
    build_command: make
    branch_pattern: coverity_scan
install:
- sudo apt-get -qq update
- sudo apt-get -qq install qt510base qt59tools qt59svg
before_script:
- source /opt/qt510/bin/qt59-env.sh
- qmake -v
script:
- qmake -Wall qtpass.pro
- make -j$(nproc)
notifications:
  irc:
    channels:
    - chat.freenode.net#IJhack
    on_success: change
    on_failure: always

