[Desktop Entry]
Type=Application
Name=QtPass
Version=1.0
GenericName=Password Manager
#GenericName[ar_MA]=
#GenericName[de_DE]=
#GenericName[es_ES]=
#GenericName[fr_BE]=
#GenericName[fr_FR]=
#GenericName[gl_ES]=
#GenericName[he_IL]=
#GenericName[hu_HU]=
GenericName[nl_NL]=Wachtwoord Beheer
#GenericName[pl_PL]=
#GenericName[ru_RU]=
#GenericName[sv_SE]=
#GenericName[zh_CN]=
Comment=GUI for the standard unix password store
#Comment[ar_MA]=
#Comment[de_DE]=
#Comment[es_ES]=
#Comment[fr_BE]=
#Comment[fr_FR]=
#Comment[gl_ES]=
#Comment[he_IL]=
#Comment[hu_HU]=
Comment[nl_NL]=GUI voor de standaard unix wachtwoord opslag
#Comment[pl_PL]=
#Comment[ru_RU]=
#Comment[sv_SE]=
#Comment[zh_CH]=
Exec=qtpass
Icon=qtpass-icon
Terminal=false
Categories=Security;Utility;
Keywords=Password;Manager;QT;
