[Desktop Entry]
Type=Application
Name=QtPass
Version=1.5
GenericName=Password Manager
GenericName[ar]=مدير كلمات المرور
GenericName[ca]=Gestor de contrasenyes
GenericName[de_DE]=Passwortverwaltung
GenericName[es_ES]=Gestor de contraseñas
GenericName[fr_BE]=Gestionnaire de mots de passe
GenericName[fr_FR]=Gestionnaire de mots de passe
GenericName[gl_ES]=Xestor de contrasinais
GenericName[he_IL]=מנהל סיסמאות
GenericName[hu_HU]=Jelszókezelő
GenericName[nl]=Wachtwoordbeheerder
GenericName[pl_PL]=Menedżer haseł
GenericName[ru_RU]=Менеджер паролей
GenericName[sv_SE]=Lösenordshanterare
GenericName[zh_CN]=密码管理器
Comment=GUI for the standard unix password store
Comment[ar]=واجهة رسومية لمخزن كلمات مرور UNIX القياسي
Comment[ca]=Interfície gràfica per al magatzem de contrasenyes UNIX estàndard
Comment[de_DE]=Grafische Oberfläche für den Standard-Unix-Passwortspeicher
Comment[es_ES]=Interfaz gráfica para el almacén estándar de contraseñas de Unix
Comment[fr_BE]=Interface graphique pour le gestionnaire de mots de passe Unix standard
Comment[fr_FR]=Interface graphique pour le gestionnaire de mots de passe Unix standard
Comment[gl_ES]=Interface gráfica para o almacén estándar de contrasinais de Unix
Comment[he_IL]=ממשק גרפי לארכיון הסיסמאות הסטנדרטי של יוניקס
Comment[hu_HU]=Grafikus felület a szabványos unix jelszó-tárolóhoz
Comment[nl]=GUI voor de standaard Unix wachtwoordopslag
Comment[pl_PL]=Graficzny interfejs do standardowego uniksowego magazynu haseł
Comment[ru_RU]=Графический интерфейс для стандартного Unix-хранилища паролей
Comment[sv_SE]=Grafiskt gränssnitt för det standardiserade Unix-lösenordslagret
Comment[zh_CN]=标准 Unix 密码存储的图形界面
Exec=qtpass
Icon=qtpass-icon
Terminal=false
Categories=Security;Utility;
Keywords=Password;Manager;Qt;
