[Desktop Entry]
Type=Application
Name=QtPass
Comment=GUI for the standard unix password store
Exec=qtpass
Icon=qtpass-icon
Terminal=false
Categories=Security;Utility;
