Source: qtpass
Section: utils
Priority: optional
Maintainer: Anne Jan Brouwer <brouwer@annejan.com>
Build-Depends: qt5-default, qt5-qmake
Homepage: http://qtpass.org/
Vcs-Browser: https://github.com/IJHack/qtpass
Vcs-Git: git@github.com:IJHack/qtpass.git

Package: qtpass
Architecture: any
Depends: ${shlibs:Depends}
Suggests: pass
Description: QtPass is a multi-platform GUI for pass, the standard unix password manager.
  Features:
  * Using pass or git and gpg2 directly
  * Cross platform: Linux, BSD, OS X and Windows
  * Reading pass password stores
  * Decrypting and displaying the password and related info
  * Editing and adding of passwords and information
  * Updating to and from a git repository
  * Per-folder user selection for multi recipient encryption
  * Configuration options for backends and executable/folder locations
  * Copying password to clipboard
  * Configurable shoulder surfing protection options
  * Experimental WebDAV support
